body{
    text-align: center;
}
#h1{
    color: #08F7F8;
}
#h22{
    text-decoration: underline;
}
#h2{
    font-weight: 100;
}
#h3{
    color: red;
    text-decoration: line-through;
}
#h11{
    color: #DD1039;
    font-weight: 900;
}
#h33{
    line-height: 4;
    font-weight: 900;
}
#h222{
    letter-spacing: 3px;
    color: #08F7F8;
}
#h333{
    color: #DD1039;
    word-spacing: 12px;
}
#h111{
    text-transform: uppercase;
    color:#EDA317;
}