.navbar {
  display: flex;
  justify-content: space-between;
}

li {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #003b66;
  display: inline-block;
  margin-right: 36px;
}

ul {
  list-style: none;
}

.logo {
  width: 137px;
  height: 29px;
  margin-left:120px;
}
