body{
    background-color: rgb(227, 74, 74);
}
.title{
    text-align: center;
    font-size: 40px;
    color: white;
}
.box1{
    background-color: white;
    display: inline-block;
    text-align: center;
    height: 200px;
    width: 200px;
    border-radius: 5px;
}
.box2{
    background-color: white;
    display: inline-block;
    text-align: center;
    height: 250px;
    width: 200px;
    border-radius: 5px;
}
.box3{
    background-color: white;
    display: inline-block;
    text-align: center;
    height: 300px;
    width: 200px;
    border-radius: 5px;
}
div{
    vertical-align: bottom;
}
.pp{
    color: #E8786E;
}
