body{
    background-color:#4ACFAD;
}
.divv{
    border-radius: 20px;
    width: 850px;
    height: 480px;
    display:block;
    background-color: white;
    padding: 25px;
    margin: 55px;
}
#box1{
    text-align: center;
    display: inline-block;
}
#box2{
    text-align: center;
    display: inline-block;
}
#box3{
    text-align: center;
    display: inline-block;
}
.grey{
    color:grey;
    font-size: smaller;
}
.black{
    color:black;
}
.yellow{
    font-size: large;
    color: #DCBE69;
}
.red{
    font-size: large;
    color: #cf4253;
}
#Gray{
    font-size: larger;
}
#Black{
    font-size: large;
}