.intro {
  width: 1487px;
  height: 719px;
}

.logo {
  display: inline-block;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #233348;
  mix-blend-mode: normal;
  margin-left: 265px;
  margin-right: 470px;
  margin-top: 30px;
}

#T {
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #458ff6;
  border-radius: 25px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;

  color: #ffffff;
}

ul {
  display: inline-block;
  list-style: none;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: rgb(96, 95, 95);
}

li {
  display: inline-block;
}

#Home {
  color: rgb(0, 0, 0);
}

.options {
  display: inline-block;
}

.image1 {
  display: inline-block;
  width: 130px;
  height: 115px;
  margin-top: 100px;
  margin-left: 20px;
  position: absolute;
  left: 3.56%;
  right: 88.21%;
  top: 3.19%;
  bottom: 94.86%;
  opacity: 0.3;
}

.intro_text {
  display: inline-block;
  padding-top: 70px;
  margin-left: 260px;
  vertical-align: middle;
}

.text_title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.text_description {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7d7987;
  margin-top: 33px;
}
button {
  width: 200px;
  height: 57px;
  background-color: #458ff6;
  border: none;
  border-radius: 55px;
  color: #ffffff;
}

.intro_photo {
  display: inline-block;
  width: 600px;
  height: 510px;
  vertical-align: middle;
  margin-top: 55px;
  margin-left: 100px;
}

.services {
  display: inline-block;
  width: 100%;
  height: 700px;
  background-image: url(./Frame\ \(1\).png);
  background-repeat: no-repeat;
  margin-top: 130px;
}

.headline {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  text-align: center;
}

.services_text {
  margin-top: 33px;
  text-align: center;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;

  color: #7d7987;

  mix-blend-mode: normal;
}

#stick {
  margin-top: 26px;
  margin-bottom: 33px;
  display: block;
  margin: auto;
}

.services_description {
  display: inline-block;

  width: 1120px;
  height: 745px;
}

.box {
  display: inline-block;
  width: 300px;
  height: 304px;
  padding-left: 25px;
  padding-top: 25px;

  background: #ffffff;
  margin: auto;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  border-color: #000000;
  border: 2px;
  margin-right: 17px;

  vertical-align: middle;
  margin-bottom: 20px;
}

#box1 {
  margin-left: 240px;
}

#box4 {
  margin-left: 240px;
}
.photo_name {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  color: #000000;
  mix-blend-mode: normal;
  margin-top: 22px;
  margin-bottom: 20px;
}

.photo_description {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;

  color: #7d7987;

  mix-blend-mode: normal;
}

.button2 {
  width: 200px;
  height: 60px;
  background-color: #ffffff;
  border-color: #000000;
  border-width: thick;
  border-radius: 45px;
  margin-left: 645px;
  text-align: center;
  color: #458ff6;
  border: 1px solid #007aff;
}

.providers {
  display: inline-block;
  width: 1273px;
  height: 477px;
  margin-top: 150px;
}

.left {
  width: 600px;
  height: 427px;
  margin-left: 130px;
}

.provider_title {
  margin-bottom: 26px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;

  color: #000000;

  mix-blend-mode: normal;
}

.right {
  display: inline-block;
  margin-left: 160px;
}

.provider_stick {
  margin-bottom: 30px;
  width: 56px;
  height: 2px;
  background: #000000;
  border-radius: 10px;
}

.provider_description {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
  margin-bottom: 37px;
  mix-blend-mode: normal;
}

.button3 {
  width: 200px;
  height: 60px;
  background-color: #ffffff;
  border-color: #000000;
  border-width: thick;
  border-radius: 45px;
  color: #458ff6;
  border: 1px solid #007aff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  mix-blend-mode: normal;
}

.downland {
  width: 1300px;
  height: 675px;
  display: inline;
}

.left2 {
  display: inline-block;
  padding-left: 250px;
  margin-right: 190px;
  margin-top: 100px;
}

.downland_title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
  mix-blend-mode: normal;
  margin-bottom: 30px;
}
.downland_stick {
  width: 56px;
  height: 2px;
  background: #000000;
  border-radius: 6px;
  margin-bottom: 31px;
}

.downland_description {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
  mix-blend-mode: normal;
  margin-bottom: 37px;
}

.button3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: #458ff6;
  mix-blend-mode: normal;
  border: 1px solid #007aff;
  background-color: #ffffff;
}

.right2 {
  display: inline-block;
}

.main_img {
  width: 605px;
  height: 374px;
}

.reviews {
  width: 1220px;
  height: 502px;
  background-image: url(./Rectangle\ 13.png);
  background-repeat: no-repeat;

  vertical-align: middle;
  margin-top: 150px;
  margin-left: 200px;
}

.middle {
  display: inline-block;
  margin-top: 30px;
}

.middle_title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
  mix-blend-mode: normal;
  text-align: center;
  margin-left: 290px;
}

.middle_stick {
  text-align: center;
  width: 56px;
  height: 2px;
  background: #ffffff;
  border-radius: 6px;
  margin-left: 530px;
}

.group {
  margin-left: 230px;
  display: inline-block;
}

.left3 {
  display: inline-block;
  margin-left: 100px;
}

.left_picture {
  margin-top: 50px;
  width: 141px;
  height: 141px;
}

.left_title {
  margin-left: 173px;
  margin-top: -115px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 48px;
  color: #ffffff;

  mix-blend-mode: normal;
}

.left_text {
  margin-left: 172px;
  margin-top: -34px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 48px;
  color: rgba(255, 255, 255, 0.85);
  mix-blend-mode: normal;
}

.right3 {
  display: inline-block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  margin-left: 550px;
  margin-top: -160px;
}

.more {
  display: inline-block;
  margin-top: 100px;
  width: 336.43px;
  height: 20px;
  margin-left: 370px;
}

.articles {
  display: inline-block;
  margin-top: 180px;
}

.article_main {
  display: inline-block;
}

.article_title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  mix-blend-mode: normal;
  margin-left: 510px;
}

.article_stick {
  margin-left: 720px;
  width: 56px;
  height: 2px;
  margin-top: 30px;

  background: #000000;
  border-radius: 5px;
}

.table1 {
  width: 350px;
  height: 512px;
  box-shadow: 5px 20px 5px rgba(135, 132, 132, 0.3);
  border-radius: 21px;
  margin-top: 79px;
  display: inline-block;
  vertical-align: middle;

  margin-left: 200px;
}

.table1_photo {
  width: 350px;
  height: 240px;
}

.table1_title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  color: #000000;
  mix-blend-mode: normal;
  margin-left: 33px;
  margin-top: 24px;
}

.table1_text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
  mix-blend-mode: normal;
  margin-top: 12px;
  margin-left: 33px;
}

.table1_link {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #4089ed;
  mix-blend-mode: normal;
  margin-left: 33px;
  margin-top: 25px;
}

.table2 {
  width: 350px;
  height: 512px;
  box-shadow: 5px 20px 5px rgba(135, 132, 132, 0.3);
  border-radius: 21px;
  margin-top: 79px;
  display: inline-block;
  vertical-align: middle;

  margin-left: 34px;
}

.table3 {
  width: 350px;
  height: 512px;
  box-shadow: 5px 20px 5px rgba(135, 132, 132, 0.3);
  border-radius: 21px;
  margin-top: 79px;
  display: inline-block;
  vertical-align: middle;

  margin-left: 34px;
}

.button4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: #458ff6;
  mix-blend-mode: normal;
  border: 1px solid #007aff;
  background-color: #ffffff;
  margin-left: 668px;
  margin-top: 69px;
}

.footer{
  background-image: url(./bg.png);
  width:100%;
  height: 432px;
  margin-top: 170px;
}

.footer_left{
  display: inline-block;
  margin-top: 80px;
  margin-left:150px;
}

.footer_logo{

font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
padding-bottom: 3px;
color: #FFFFFF;

mix-blend-mode: normal;

}

#Trafalgar{
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: white;
  border-radius: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  color:#5B9BF3
}

.footer_text{

  margin-top: 17px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 28px;
color: #FFFFFF;
mix-blend-mode: normal;
}

.footer_description{
margin-top: 31px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 28px;
color: #FFFFFF;
mix-blend-mode: normal;
}

.list1{
  display: inline-block;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 60px;
color: #ffffff;
mix-blend-mode: normal;
position: absolute;
top: 4900px;
right: 640px;
margin-bottom: -15px;
}

.li1{
margin-top: -32px;
}

.list2{
    display: inline-block;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 60px;
color: #fffdfd;
mix-blend-mode: normal;

margin-bottom: -15px;
margin-bottom:100px;
position: absolute;
top: 4900px;
right: 440px;
}

.list3{
      display: inline-block;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 60px;
color: #ffffff;
mix-blend-mode: normal;
position: absolute;
top: 4900px;
right: 200px;

margin-bottom: -15px;
}