*{
  font-family: "Open-Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
}

.container1 {
  width: 100%;
  height: 700px;
  background-color: #eeeff1;
  margin: auto;
  margin-bottom: 120px;
}

.logo {
  vertical-align: middle;
  margin-right: 500px;
  margin-left: 40px;
  margin-top: 40px;
}

ul {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}

li {
  display: inline-block;
  margin-left: 42px;
}

a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;

  color: #34547a;
}

.intro {
  display: inline-block;
  margin-top: 140px;
  margin-bottom: 188px;
  margin-left: 300px;
}

.intro_right {
  margin-left: 100px;
  display: inline-block;
  vertical-align: middle;
}

.intro_img {
  vertical-align: middle;
}
.intro_title {
  width: 541px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 48px;
  line-height: 79px;
  margin-bottom: 40px;
  color: #000000;
}

.intro_text {
  width: 540px;
  margin-bottom: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.intro_btn {
  width: 225px;
  height: 65px;
  left: 975px;
  top: 482px;
  color: white;
  background: #34547a;
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;

  color: #ffffff;
}

.intro_btn:hover {
  background: white;
  color: #000000;
}

.container2{
margin:auto;
width: 540px;
height: 147px;
margin-bottom: 100px;
}

.about_me{

width: 403px;
height: 30px;
margin-left: 65px;;
font-family: 'Roboto';
font-style: normal;
font-size: 32px;
line-height: 38px;
text-align: center;
margin-bottom: 40px;
color: #000000;
}
.subtitle_aboutme{

width: 540px;
height: 67px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;

color: #727272;


}
.projects{
  width: 100%;
  height:250px;
  background-color: #34547A;
}

.project{
  margin: auto;
  display: inline-block;
  padding:20px;
  margin-left: 20px;
  margin-top: 75px;
  margin-bottom: 50px;
}

.project_img{
  vertical-align: middle;
  width:60px;
  height:60px;
}

.project_text{
  display: inline-block;
  width:50%;
  vertical-align: middle;
  padding-left: 10px;
  color: white;
}

.skills{
  margin-top: 102px;
  margin-bottom: 100px;
}

.skills_left{
  display: inline-block;
  margin-left: 170px;
  vertical-align: middle;
}

.adobe{
  vertical-align: middle;
}

.man{
  vertical-align: middle;
  margin-left: 150px;
}

.skills_title{
  margin-bottom: 50px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 38px;

color: #000000;


}

.adobe{


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;

color: #727272;


  margin-bottom: 30px;
}

.my_work{
  width: 100%;
  height: 1000px;
  background-color: #EEEFF1;
  
}

.my_work_title{
  text-align: center;
  margin-bottom: 50px;
}

.my_work_text{
  text-align: center;
}

.middle{
  display: inline-block;
  margin-top: 100px;
  width:540px;
  height:150px;
  vertical-align: middle;
  margin-left:500px;
}

.video{
  width:70%;
  height: 60%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 245px;
  margin-top: 60px;
}

.photos{
  width:100%;
  height:100%;
}

.photo1{
  width:24.7%;
}

.microsoft{
  display: inline-block;
  margin: auto;

  margin-left: 270px;
  margin-bottom: 40px;
}

.microsoft_img{

  padding-right: 30px;
  width:255px;
  height:110px; 
}

.footer{
  width:100%;
  height:150px;
  background-color: #34547A;
  padding-top: 45px;
}

.footer_left{
  margin-left: 200px;
  display: inline-block;
  vertical-align: middle;
}

.footer_title{
margin-bottom: 20px;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

font-style: normal;
font-size: 21px;
line-height: 25px;

color: #FFFFFF;
}

.footer_description{

font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;

color: #FFFFFF;
}

.footer_right{
  display: inline-block;
  margin-left: 800px;
  vertical-align: middle;
}

.footer_img{

width: 43.75px;
height: 40px;
margin-right: 5px;


}