.container {
  margin: auto;
  width: 1300px;
  height: 707px;
}

#headline {
  display: inline-block;
  padding: 7px;
  background-color: #e5edff;
  display: inline-block;
  color: #4f7df3;
  border-radius: 18px;
  padding-left: 20px;
  padding-right: 20px;
}

#main_text {

  width: 658px;
  height: 267px;

  font-family: Arial black;
  font-style: normal;
  font-weight: 100;
  font-size: 65px;
  line-height: 89px;
  letter-spacing: -0.04em;
  color: #181e4b;
  margin-bottom: 30px;
  /* margin:auto; */
}

#colour_extratext {
  color: #4475f2;
}

.information {
  display: block;
  height: 90px;
  left: 120px;
  top: 561px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #5e6282;
}

button {
  width: 198px;
  height: 60px;
  
}

a {

  margin-top: 20px;
  text-decoration: none;
  color: black;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 10px;
  background-color: #4475F2;
  color:white;
  font-weight:100;
}

img{
    display: inline-block;
    margin: auto;
    width:493px;
    height:507px;
}